{% extends "base.html" %}
{% block extrahead %}
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript">

        window.onload = function() {
            insertAdderListener();
            insertSubtractorListener();
            insertFileListener();
            insertFormHandleListener();
            insertRefreshListener();
        }
    </script>
{% endblock %}
{% block main_slot %}
    <div class="container-fluid">
        <div class="top-hint">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3"></div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <div class="alert alert-success app-hint" role="alert">
                        <p><strong>Welcome!</strong></p>
                        <p>Use the form below to choose
                        the <strong> subtitles file (.srt) </strong> that you want to fix
                        and a <strong> time value in seconds </strong> (to add or subtract)
                        to its timing synchronization.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fixer">
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3"></div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <form action="/" method="POST" id="subtitle_form"
                      name="subtitle_form" enctype="multipart/form-data" role="form">
                    <fieldset class="form-group">
                        <label class="label ">
                            {{ subtitle_form.subtitle_file }}
                             <span id="file_placeholder"
                                   class="file-custom my-file-custom"
                                   data-content="Choose your .srt file..."></span>
                        </label>
                        <p class="form-error text-center" id="file_error">
                            {% if subtitle_form.errors.subtitle_file %}
                                {{ subtitle_form.errors.subtitle_file }}
                            {% endif %}
                        </p>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="input-group">
                            <input type="text" id="adjustment"
                                   class="form-control" name="adjustment" placeholder="Time in seconds">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" id="minus"> - </button>
                                <button class="btn btn-secondary" type="button" id="plus"> + </button>
                            </span>
                        </div>
                        <p class="form-error text-center" id="adjustment_error"></p>
                    </fieldset>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 text-center">
                            <div class="btn-toolbar">
                                <input id="refresh_button" type="button" class="btn btn-lg btn-default" value="Refresh">
                                <input id="submit" type="submit" class="btn btn-lg btn-warning strong" value="Fix File!">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}